body {
    margin: 0;
}
ul {
  
    padding:0;
    background-color: #c7d31dd2;
    position: fixed;
    height: 100%; 
}
ol {
    display: block;
    color:  rgb(139, 69, 4);
    padding: 8px 16px;
    text-decoration: none;

}

li a {
    display: block;
    color:  rgb(139, 69, 4);
    padding: 8px 16px;
    text-decoration: none; /*pour enlever le souligneur Bleu*/
}

li a:hover:not(.active) {
    background-color: rgb(169, 238, 8);
    color: white;
}
.footer {
    background-color: #c7d31dd2;
    padding: 10px;
    text-align: center;

}
.contenue {
margin-left: 200px;
margin-right: 100px;
}
#panel, #cadre{
    padding: 10px;
    text-align: right;
    background-color: rgb(202, 238, 136);
    border: solid 1px #bcdd00;
    cursor: pointer;
}
button:hover :not(.active) {
    background-color: rgb(169, 238, 8);
    color: white;
}
#panel {
    padding: 50px;
    display: none;
}

.slideshow{
    position: relative;
  }

.dot {

    height: 15px;
    width: 15px;
    background-color: rgb(207, 230, 1);
    display: inline-block;
    border-radius: 30%;
    margin-top: 15px
  }
  .suiv {
    right: 0;
  }
  .prec, .suiv {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  .prec:hover, .suiv:hover {
    background-color: rgba(229, 233, 10, 0.918);
  }
.img_affich {
    display: none ;
}
button.img:hover{
    background-color: rgb(169, 238, 8);
    color: white;
}
button.img {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 400px;
    border-radius: 8px;
    border: none; 
    padding-right:70px; 
    padding-left: 70px;
    padding-top: 4px;
    padding-bottom: 4px;  
    background-color: rgba(229, 233, 10, 0.918)
}


.colonne {

    padding: 10px;
    height: 300px;

}
 .droite {
 border-left :60% ; 
}
