body {
    margin: 0;
}


ul {
    cursor: position: relative;
    padding: 0;
    background-color: #c7d31dd2;
    position: fixed;
    height: 100%; 
}

li a {
    display: block;
    color:  rgb(112, 60, 11);
    padding: 8px 16px;
    text-decoration: none; /*pour enlever le souligneur */
}


li a:hover:not(.active) {
    background-color: rgb(169, 238, 8);
    color: white;
}
.footer {
    background-color: #c7d31dd2;
    padding: 10px;
    text-align: center;
    display: block;
    
}
.contenue {
margin-left: 200px;
padding-left: 20px;
margin-right: 200px;
}


#panel, #cadre{
    padding: 10px;
    text-align: right;
    background-color: rgb(204, 245, 102);
    border: solid 1px #bcdd00;
    cursor: pointer;
}

button:hover :not(.active) {
    background-color: rgb(169, 238, 8);
    color: white;
}

#panel {
    padding: 50px;
    display: none;
}
.slideshow{
    position: relative;
  }

.dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    background-color: rgb(207, 230, 1);
    display: inline-block;
    border-radius: 30%;
    margin-top: 15px
  }
  .suiv {
    right: 0;
  }
  .prec, .suiv {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  .prec:hover, .suiv:hover {
    background-color: rgba(229, 233, 10, 0.918);
  }
 
